/* BAT THEME VARIABLES */

$bg-page: #0b0b12;
$bg-card: #141421;

$accent: #7c3aed;
$accent-hover: #6d28d9;

$text-main: #f4f4f5;
$text-muted: #a1a1aa;
$text-dark: #131314;

$border-dark: #27272a;

$radius: 10px;
$radius-large: 15px;