@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Jura:wght@300..700&family=Sedgwick+Ave&family=Syne:wght@400..800&family=UnifrakturMaguntia&display=swap');
@use "./variables" as *;

body {
  background-color: $bg-page;
  font-family: kå, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}